# Core Framework
llama-index==0.12.*

# Integrations
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-llms-google-genai
llama-index-llms-anthropic
llama-index-embeddings-huggingface
llama-index-embeddings-huggingface-api

# Database & Infrastructure
chromadb
python-dotenv

# PDF Processing (Used by SimpleDirectoryReader)
pypdf

# UI Framework
streamlit
