# Core Framework
llama-index-core==0.12.*

# Integrations
llama-index-vector-stores-chroma
llama-index-llms-openai-like
llama-index-embeddings-huggingface-api

# Database & Infrastructure (Full version required for local folder persistence)
chromadb

# Utilities
python-dotenv
pypdf
streamlit
